.sidenav {
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #F6F6F6;
    padding-top: 1rem;
}

.sidenav .navlink {
    padding: 1rem 1rem 1rem 2rem;
    border-left: 4px solid transparent;
    text-decoration: none;
    font-size: 1.13rem;
    color: #78849E;
    font-family: "avenir-medium";
    display: block;
    user-select: none;
}

.sidenav  .header {
    min-height: 10rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
}

.sidenav  .header p {
    color: #2A2E43;
    padding: 0.5rem 0 0.5rem 0;
    font-family: "avenir-heavy";
    font-size: 1rem;
}

.sidenav .active {
    color: #2A2E43;
    border-left: 4px solid #EB028D;
    font-family: "avenir-heavy";
}

.sidenav .navlink:hover {
    color: #2A2E43;
}

.sidenav .active:hover {
    opacity: 0.8;
}